<!DOCTYPE html>
<html>
<head>
  <title>Reflexive</title>
  <%= stylesheet_link_tag "reflexive/reflexive" %>
  <%= stylesheet_link_tag "reflexive/coderay" %>
  
  <%= javascript_include_tag "reflexive/jquery-1.4.2" %>
  <%= javascript_include_tag "reflexive/reflexive" %>
</head>
<body>

<%= yield %>

</body>
</html>
