<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
  <title>Reflexive</title>
  <%= stylesheet_link_tag "reflexive/reflexive" %>
  <%= stylesheet_link_tag "reflexive/coderay" %>
  
  <%= javascript_include_tag "reflexive/jquery-1.4.2" %>
  <%= javascript_include_tag "reflexive/reflexive" %>
</head>
<body>

<% if Reflexive.class_reloading_active? %>
  <div style="background-color: #ffc0cb; border: 1px solid gray; padding: 1em 1em; width: 500px">
    Warning! You're running Reflexive with <code>config.cache_classes = false</code> <br/>
    Rails setting (which is the default for running server in development environment).<br/>
    Currently Reflexive isn't compatible with this setting and you may want to<br/>
    either set <code>config.cache_classes = true</code> in your environment configuration<br/>
    file or run the server in production mode with <br/><code>rails s --environment=production</code>
  </div>
<% end %>

<div class="dashboard-link">
  <%= link_to("Reflexive Dashboard", dashboard_path) unless request.path == dashboard_path %>
</div>

<%= yield %>

</body>
</html>
